/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

* {
  box-sizing: border-box;
  margin: 0;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.column{
  float: left;
  background-color: seagreen;
}

.large{
  width: 90%;
  height: 50vh;
  margin: 2.5vh 5%;
}
.small{
  width: 90%;
  height: 20vh;
  margin: 2.5vh 5%;
}

@media only screen and (min-width:600px) {
  .small {
    width: 40%;
    height: 40vh;
    margin: 2.5vh 5%;
  }
}

@media only screen and (min-width:1024px){
  .large{
    width: 60%;
    height: 90vh;
    margin: 5vh 5%;
  }
  .small{
    width: 25%;
    height: 42.5vh;
    margin: 5vh 5% 5vh 0;
  }
  .top {
    margin: 5vh 5% 0 0%;
  }
}
