/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #e8e8e8;
}

.topBar {
  background-color: darkseagreen;
  width: 40%;
  height: 4vh;
  margin: 2.5vh 5%;
}

nav {
  width: 100%;
}

nav ul {
  width: 48%;
  height: 3vh;
  padding-left: 0;
  list-style: none;
  margin: 0 5% 2.5vh 5%;
}

nav ul li {
  float: left;
  width: 30%;
  height: 100%;
  margin-right: 5%;
  background-color: darkgreen;
}

nav ul li:last-child {
  margin-right: 0;
}

header {
  width: 90%;
  height: 5vh;
  background-color: lightblue;
  margin: 2vh 5%;
}

header:first-of-type {
  width: 85%;
}

article {
  width: 90%;
  /*CHANGE HEIGHT HERE FOR LONGER ARTICLES*/
  height: 64.5vh;
  margin: 6vh 5% 2.5vh 5%;
  background-color: teal;
}

article img {
  width: 100%;
  height: 60%;
  background-color: pink;
}
article h1 {
  font-size: 1.2em;
  margin: 3vh 0 2vh 0;
  background-color: pink;
}

article p {
  font-size: 0.9em;
  background-color: pink;
}

@media only screen and (min-width: 600px) {
  .topBar {
    float: left;
    width: 30%;
  }
  nav ul {
    float: left;
    width: 30%;
    vertical-align: middle;
    margin: 3.5vh 0 2.5vh 15%;
  }

  header {
    margin-left: 8%;
    width: 87%;
  }

  header:first-of-type {
    clear: both;
    margin-top: 15vh;
    width: 82%;
  }

  article {
    float: left;
    width: 42.5%;
    height: 44vh;
    margin-bottom: 0vh;
  }

  article:nth-child(even) {
    margin-right: 0;
  }

  article:last-child {
    margin-bottom: 2.5vh;
  }

  article h1 {
    font-size: 1.5em;
  }

  article p {
    font-size: 1em;
  }
}

@media only screen and (min-width:1024px) {
  header {
    margin-left: 10%;
    width: 80%;
  }

  header:first-of-type {
    width: 75%;
  }

  nav ul {
    float: right;
    width: 20%;
    margin-right: 5%;
  }

  article {
    width: 20.6%;
    margin-left: 2.5%;
    height: 60vh;
  }

  article:first-of-type {
    margin-left: 5%;
  }

  article:nth-child(odd) {
    margin-right: 0;
  }

  article p {
    font-size: 1.2em;
  }

}
