/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  background-color: #e8e8e8;
}

.top-bar {
  float: left;
  background-color: darkseagreen;
  width: 15%;
  height: 3vh;
  margin: 4vh 0;
}

.top-logo {
  float: left;
  background-color: darkkhaki;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  margin: 2.5vh 5%;
}

nav {
  width: 100%;
}

nav ul {
  width: 90%;
  float: left;
  height: 4vh;
  padding-left: 0;
  list-style: none;
  margin: 0 5% 2.5vh 5%;
}

nav ul li {
  float: left;
  width: 24.25%;
  height: 100%;
  margin-right: 1%;
  background-color: darkgreen;
}

nav ul li:last-child {
  margin-right: 0;
}

article {
  clear: both;
  margin: 2.5vh 5%;
  height: 25.5vh;
  overflow: hidden;
}

article h1 {
  font-size: 1.5em;
  background-color: pink;
}

article p {
  padding-top: 0.5vh;
  font-size: 1em;
  background-color: pink;
}

article img {
  float: left;
  height: 5vh;
  width: 5vh;
  background-color: black;
  margin: 0 5% 20.5vh 0;
}

.big-logo {
  width: 27vh;
  height: 27vh;
  border-radius: 50%;
  margin: 1vh auto 0;
  background: cornflowerblue;
}

.block-container{
  height: 35vh;
  margin: 2.5vh 0%;
  background-color: red;
}

.text-block {
  float: left;
  background-color: cadetblue;
  width: 90%;
  height: 10vh;
  margin: 1.25vh 5%;
}

.first{
  margin-top: 0;
}

.last{
  margin-bottom: 0;
}

.art-container{
  background-color: yellow;
}

.art-img-container{
  background-color: green;
}

@media only screen and (min-width:600px) {
  .top-bar {
    width: 10%;
    height: 2vh;
  }
  .top-logo {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin: 2.8vh 2% 0 5%;
  }
  nav ul {
    float: right;
    width: 50%;
    height: 3vh;
    margin: 3.5vh 5% 2.5vh 0;
  }
  article {
    float: left;
    width: 51%;
    height:25vh;
  }
  .big-logo {
    width: 25vh;
    height: 25vh;
    float: right;
    margin: 2vh 5% 2vh 0;
  }
  .block-container{
    height: 10vh;
    width: 90%;
    margin: 2.5vh 5%;
    clear: both;
  }
  .text-block{
    width: 29.33%;
    margin: 0 1% 0 0;
  }
  .first{
    margin-left: 5%;
    clear: none;
    float: left;
  }
  .last{
    margin-right: 5%;
    float: right;
    clear: none;
  }
  .art-container{
    height: 45vh;
    width: 45%;

  }
  .art-container article{
    width: 90%;
    height: 12.5vh;
    float: left;
    margin: 0 5% 2.5vh 5%;
  }
}

@media only screen and (min-width: 1024px) {

}
